<!DOCTYPE html>
<html lang="{{ site.lang | default: " zh-CN" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/icon.ico">
    <style>
        nav > a {
            color: #b8b61e;
        }

        footer {
            display: flex;
            justify-content: space-around;
        }

        .page-header {
            padding: 2rem 3rem;
        }
    </style>
    <script type="text/javascript">
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" async src="{{ site.baseurl }}/script/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <h2 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h2>
    <h4 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h4>
    <nav>
        {% for link in site.links %}
        <a href="{{ site.baseurl }}{{ link.url }}" class="btn">{{ link.title }}</a>
        {% endfor %}
        <br/>
        <a href="{{ site.github_repo }}/edit/main/{{ page.path }}" target="_blank" class="btn">Edit on GitHub</a>
    </nav>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}
</main>

<footer class="site-footer">
    <span class="site-footer-credits">工信部备案号：辽ICP备17016257号-2</span>
</footer>
</body>
</html>
